* {
  margin: 0;
  padding: 0;
}

h1 {
  background-color: lightgrey ;
  color: black;
  height: 5rem;
  text-align: center;
  line-height: 5rem;
}

#resetButton {
  position: absolute;
  background-color: black;
  font-size: 1rem;
  color: white;
  top: 1rem;
  right: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 1rem;
}
#resetButton:hover{
  opacity: 0.5;
  cursor: pointer;
}

.choice{
  height: 200px;
  width: 200px;
}

.choice:hover{
  opacity: 0.5;
  cursor: pointer;
}

img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.choices{
  display: flex;
  justify-content: center;
  align-items: center;
  gap : 3rem;
  margin-top: 5rem;
}

.score-board{
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  gap : 3rem;
}

#user , #computer {
  font-size: 4rem;
}

#msg {
  background-color: black;
  color: white;
  font-size: 2rem;
  margin-top: 5rem;
  display: inline;
  text-align: center;
  padding : 1rem;
  border-radius: 1rem;
}

.message{
  display:flex;
  justify-content: center;
  align-items: center;
}
